<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectReunion" version="0.8.5" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.DWrite" version="0.8.5" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.Foundation" version="0.8.5" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.InteractiveExperiences" version="0.8.5" targetFramework="native" />
  <package id="Microsoft.ProjectReunion.WinUI" version="0.8.5" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.211028.7" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22494-preview" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.0.0-preview3" targetFramework="native" />
</packages>